<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        				http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        				http://www.springframework.org/schema/aop/
        				http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="testBOImpl" class="com.hilton.aop.bo.impl.TestBOImpl">
	</bean>

	<bean id="testInterceptor" class="com.hilton.aop.interceptors.TestInterceptor" />

	<bean id="testBOImplProxy"
                 class="org.springframework.aop.framework.ProxyFactoryBean">

		<property name="target" ref="testBOImpl" />

		<property name="interceptorNames">
			<list>
				<value>testInterceptor</value>
			</list>
		</property>
	</bean>
</beans>